body {
  background-color: #eaf6f6;
  background-image: url(https://lh4.googleusercontent.com/proxy/UOhQwfclsAK8TnXZqoTkh9szHvYOJ3auDH07hZBZeVaaRWvzGaXpaYl60MfCRuW_S57gvzBw859pj5Xl2pW_GpfG8k2GhE9LUFNKwA=w3840-h2160-p-k-no-nd-mv);
  background-size: cover;
background-repeat: no-repeat;

color: white;


}

hr {

  border-style:  none;
  border-top-style: dotted;
  border-color: #dcdcdc;
  border-width: 5px;

  width: 6%;
}

img {border-radius: 70%;

}
