body {
  background-color: #eaf6f6;
  background-image: url(img.jpg);
  background-size: cover;
background-repeat: no-repeat;

color: white;


}

hr {

  border-style:  none;
  border-top-style: dotted;
  border-color: #dcdcdc;
  border-width: 5px;

  width: 6%;
}

img {border-radius: 70%;

}
